<template>
<div class="search-wrapper">
  <label for="search" class="search-wrapper__label">Buscador de ciudades</label>
  <input type="text" id="search" class="search-wrapper__input" v-model="state.searchField" @keyup="fetchData" placeholder="Qué necesitas...">
  <svg v-if="!state.searching" version="1.1" class="search-wrapper__searchIcon" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 488.4 488.4" style="enable-background:new 0 0 488.4 488.4;" xml:space="preserve">
    <g>
      <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
        s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
        S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
        S381.9,104.65,381.9,203.25z" />
    </g>
  </svg>
  <img v-else src="@/assets/spinner.svg" alt="spinner" class="search-wrapper__spinner">
  <div class="search-wrapper__dropdown">
    <ul v-if="state.listItems.length">
      <li v-for="item in state.listItems" :key="item.id" class="item">
        <span class="item__text" v-html="item.name"></span>
        <span class="item__country">({{ item.country }})</span>
      </li>
    </ul>
    <div v-else-if="state.noResults" class="search-wrapper__dropdown__noResults">
      No se han encontrado resultados
    </div>
  </div>
</div>
</template>

<script>
import {
  reactive,
  watch
} from 'vue'

import {
  getCities
} from '@/lib/cities'
export default {
  name: 'HelloWorld',
  setup() {
    const state = reactive({
      searchField: '',
      searching: false,
      listItems: [],
      noResults: false
    })

    // Método que trae los datos al pulsar enter
    const fetchData = async () => {
      if (!state.searchField) return
      try {
        state.searching = true
        let info = await getCities(state.searchField.toLowerCase())
        const response = await info.json()
        if (!response.data) {
          throw new Error('Exceeded the rate limit per second')
        }
        state.listItems = response.data.map(item => {
          // Buscamos el la coincidencia con la cadena de búsqueda para resaltarlo
          let lastCharacterSearch = state.searchField[state.searchField.length - 1]
          let indexLastCharacter = item.name.lastIndexOf(lastCharacterSearch)
          let substring = item.name.substring(indexLastCharacter + 1, item.name.length)
          let boldString = item.name.substring(0, indexLastCharacter + 1)
          // Envolvemos la coincidencia en un elemento html para tener control y estilarlo
          let name = `<span class="coincidence">${boldString}</span>${substring}`
          return {
            ...item,
            name
          }
        })
        state.noResults = state.listItems.length === 0
      } catch (err) {
        console.log(err)
      }
      state.searching = false
    }

    // Al cambiar el texto limpiamo el mensaje de no hay resultados
    watch(
      () => state.searchField,
      (val, prevVal) => {
        if (val !== prevVal) {
          state.noResults = false
        }
      }
    )

    return {
      state,
      fetchData
    }
  }
}
</script>

<style lang="scss" scoped>
.search-wrapper {
  position: relative;
  text-align: left;
  padding-left: 20px;
  width: 480px;
  font-family: 'Montserrat';
  margin-top: 35px;

  &__label {
    color: $black;
    font-family: 'Montserrat Semi Bold';
    display: inline-block;
    position: absolute;
    top: -25px;
    font-size: .9rem;
  }

  &__searchIcon {
    position: absolute;
    height: 18px;
    width: 18px;
    right: 0;
    top: calc(50% - 9px);
    transition: all .2s;
  }

  &__spinner {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -5px;
    top: calc(50% - 15px);
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $gray_02;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    transition: all .2s;
    font-family: 'Montserrat';

    &:hover {
      background-color: $gray_03;
      border: 1px solid $gray_04;
    }

    &:focus {
      border: 1px solid $orange;
      box-shadow: 0px 0px 8px rgba(255, 115, 0, 0.2);
      outline: none;

      &+svg {
        fill: $orange;
      }

      &~.search-wrapper__dropdown {
        display: block;
      }
    }
  }

  &__dropdown {
    border: 1px solid $gray_02;
    border-radius: 4px;
    position: absolute;
    background-color: white;
    color: black;
    width: 100%;
    display: none;

    ul {
      list-style-type: none;
      padding: 10px;
      margin: 0;
    }

    &__noResults {
      height: 42px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      opacity: .7;
    }
  }
}

.item {
  height: 42px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: $gray_03;
  }

  &__text {
    margin-right: 5px;

    ::v-deep {
      .coincidence {
        font-family: 'Montserrat Bold';
      }
    }
  }

  &__country {
    font-family: 'Montserrat Medium';
    font-size: .9rem;
    opacity: .4;
  }
}
</style>
