<template>
<div class="container">
  <Autocomplete />
</div>
</template>

<script>
import Autocomplete from './components/Autocomplete.vue'

export default {
  name: 'App',
  components: {
    Autocomplete
  }
}
</script>

<style lang="scss" scoped>
.container {
  margin: 60px;
}
</style>
